body {
background: ivory;
}

.header {
font-family: "ocr-a-std", monospace;
font-weight: 400;
font-style: normal;
font-size: 6.5vw;
color: black;
position: absolute;
left: 4vw;
top: -1vw;
}

.symbol {
  width: 23vw;
  position: absolute;
  left: 22.3vw;
  top: 0.5vw;
}
  

  .hidden {
    display: none;
  }

@keyframes blink { 
  50% {opacity: 0;
  }
}

.text { 
animation: blink 1s linear infinite;
}

h2 { 
position: absolute;
left: 59.6vw;
top: 44vw;
font-family: "ocr-a-std", monospace;
font-weight: 400;
font-style: normal;
font-size: 3vw;
}

#firstImage {
position: relative;
left: 48vw;
top: 5vw;
width:54vw;
}

#secondImage {
width: 37vw;
position: relative;
top: 7vw;
left: 55vw;
}

#thirdImage {
width: 55vw;
position: relative;
top: 13vw;
left: 43.5vw;

}

a {
text-decoration: none;
font-family: "ocr-a-std", monospace;
font-weight: 400;
font-style: normal;
}

a:hover {
background-color: yellow;
}

#left {
  position: absolute;
  top: 55vw;
  left: 8vw;
  font-size: 3vw;
  color: black
}

#right {
  position: absolute;
  top: 55vw;
  left: 80vw;
  font-size: 3vw;
  color: black